mat-dialog-content {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 20px !important;
    background-color: #fff;
    
}

.full-width {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

button[mat-raised-button] {
    padding: 0 24px;
}