.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f8fafc;
}

.main-content-wrapper {
    flex: 1;
    overflow-y: auto;
    position: relative;
    
}


body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}