.login-container {
  min-height: calc(100vh - 70px);
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e0f2fe 0%, #f0f9ff 100%);
  
}

.login-card {
  width: 400px;
  padding: 40px;
  border-radius: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.register-link {
  margin-top: 16px;
  text-align: center;
}

.register-link a {
  margin-left: 4px;
  font-weight: 500;
  cursor: pointer;
}